<IfModule mod_rewrite.c> 
RewriteEngine Off 
</IfModule>



# HTID:18338524: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /doge http://cryptofree.click
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18338524:

# HTID:18338530: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /tron http://cryptofree.click
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18338530:

# HTID:18338535: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /bitcoin http://cryptofree.click
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18338535:

# HTID:18338545: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /litecoin http://cryptofree.click
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18338545:


